#pageHeaderDiv{
    width: 100%;
    height: var(--headerHeight);
    background-color: transparent;
    opacity: 1;
}
#pageHeader{
    background-color: var(--headerColor);
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: opacity .5s;
}
#toTopAnchor{
    all: unset;
    scroll-behavior: smooth;
}
.scrolled-down{
    opacity: 0.85;
}
#headerWrapperBackground{
    width: var(--leftRightPaddings);
    height: var(--headerHeight);
}
#headerWrapper{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
#TBCtext{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#TBCtext span{
    font-size: 25px;
}
#logoWrapper{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
}
#logoDiv{
    cursor: pointer;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}
#headerNavigationWrapper{
    width: 500px;
    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headerNavigationWrapper div{
    cursor: pointer;
    transition: ease-in 0.3s;
    white-space: nowrap;
}
#headerNavigationWrapper div:hover{
    color: var(--TBCBlue);
}
#TBCLogo{
    width: 23%;
}
#TBCLogo img{
    background-color: transparent;
}