#TBCxUSAIDbackgroundWrapper{
    display: flex;
    flex-direction: column;
    height: var(--TBCxUSAIDbackgroundWidth);
}
#TBCxUSAIDbackgroundIMG{
    width: 100%;
    position: absolute;
    user-select: none;
}
#TBCxUSAIDbackgroundIMG img{
    width: 100%;
    height: var(--TBCxUSAIDbackgroundWidth);
    object-fit: cover;
    object-position: 60%;
}
#TBCxUSAIDbackgroundText{
    width: var(--leftRightPaddings);
    color: white;
    z-index: 2;
    text-align: left;
    margin: auto;
    /* top: 20%;
    left: 20%; */
    font-weight: bold;
    line-height: 80px;
    white-space:nowrap;
}