.xSymbol {
    position: relative;
    width: 15px;
    height: 10px;
}
.xSymbol::before,.xSymbol::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.xSymbol::after {
    transform: translateY(-50%) rotate(-45deg);
}