body{
    all: unset;
    font-family: "Noto Serif Georgian";
    font-weight: 700;
    font-size: 14px;
}
body *{
    /* border: 1px dotted red; */
}
#temp{
    width: 100%;
    height: 1000px;
}
#mainPageWapper{
    background-color: var(--headerColor);
    width: 100%;
    height: 100%;
}
.pageSections{
    width: 100%;
    background-color: transparent;
}