:root{
    --headerColor: rgba(26, 30, 31, 1);
    --headerHeight: 90px;
    --leftRightPaddings: 60vw;
}
body{
    all: unset;
    font-family: "Noto Serif Georgian";
    font-weight: 700;
    font-size: 14px;
}
body *{
    /* border: 1px dotted red; */
}
#temp{
    width: 100%;
    height: 1000px;
}

#mainPageWapper{
    background-color: var(--headerColor);
    width: 100%;
    height: 100%;
}
#pageHeader{
    background-color: transparent;
    width: 100%;
    height: var(--headerHeight);
    position: relative;
    display: flex;
    justify-content: center;
}
#headerWrapperBackground{
    width: var(--leftRightPaddings);
    height: var(--headerHeight);
    position: fixed;
}
#headerWrapper{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
#TBCtext{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#TBCtext span{
    font-size: 25px;
}

.xSymbol {
    position: relative;
    width: 15px;
    height: 10px;
}
.xSymbol::before,
.xSymbol::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.xSymbol::after {
    transform: translateY(-50%) rotate(-45deg);
}

#logoWrapper{
    width: 300px;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#headerNavigationWrapper{
    width: 500px;
    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#headerNavigationWrapper div{
    cursor: pointer;
    transition: ease-in 0.3s;
}
#headerNavigationWrapper div:hover{
    color: cyan;
}
#TBCLogo{
    width: 17%;
}
#TBCLogo img{
    cursor: pointer;
    background-color: transparent;
}

.pageSections{
    width: 100%;
    height: 350px;
    background-color: black;
}
#TBCxUSAIDbackgroundWrapper{
    display: flex;
    flex-direction: column;
}
#TBCxUSAIDbackgroundIMG{
    width: 100%;
    position: absolute;
}
#TBCxUSAIDbackgroundIMG img{
    width: 90%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 10%;
}